// app colors
$primary: #007994;
$secondary: #ffd140;
$accent: #609ecc;
$black: #203537;
$green: #00b98c;
$gray: #5a7683;
$gray-border: #dcdee1;
$gray1: #f2f2f2;
$gray2: #f2f5f9;
$gray3: #898f96;
$almost-white: #eff5f6;
$blue: #007994;
$lightgray: #dcdee1;

// container
$container-padding: 0 5rem;
$container-padding-left: 5rem;
$container-padding-right: 5rem;
$container-max-width: 1054px;
$container-max-xs-width: 767px;

// misc
$cell-padding: 5px 32px;
$header-cell-padding: 23px 32px;
$switch-size: 24px;
$dialog-padding: 1rem 3rem;
